/* For the entire HTML page */
* {
  box-sizing: border-box;
}

body {
  font-family: Cursive, Geneva, Tahoma, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 20px;
}

.flex-container {
  display: flex;
  /* justify-content: space-between; */
  margin: 10px;
  padding: 20px;
}

.hero {
  height: 500px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/background-image.jpg");
  background-size: cover;
  background-position: center;
}

a {
  color: black;
  padding: 5px;
}

#navbar-picture {
  margin-inline-end: auto;
  height: 50px;
  border-radius: 20px;
}

h1 {
  margin-top: 150px;
  padding: 40px;
  text-align: center;
  color: rgb(255, 255, 255);
}

h2 {
  padding-right: 50px;
}

/* Removing the bullets in front of the list items */
ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
}

section {
  flex: 0 0 400px;
  padding: 20px;
}

/* The width of the image of project 1 */
#project1 {
  width: 500px;
}

/* When hovering over project 1 the width will change to 600px */
#project1:hover {
  width: 600px;
}
/* The width of image of project 2 */
#project2 {
  width: 500px;
}

/* When hovering over project 2 the width will change to 600px */
#project2:hover {
  width: 600px;
}

footer {
  text-align: center;
  margin-bottom: 25px;
}

/* Making Font awesome icons bigger */
.fa-brands {
  font-size: 1.2em;
  padding-right: 5px;
  margin-left: 5px;
}

/* Before the phone number is a phone icon from Font Awesome */
.fa-phone:before {
  padding: 10px;
}

/* Before the github link is a github icon from Font Awesome */
.fa-github:before {
  content: "\f09b";
  padding: 10px;
}

/* Before linkedin link is a linkedin icon from Font Awesome */
.fa-linkedin:before {
  content: "\f08c";
  padding: 10px;
}