* {
  box-sizing: border-box;
}

body {
  font-family: Cursive, Geneva, Tahoma, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex-container {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  margin-left: 20px;
  padding: 10px;
}

a {
  color: black;
  padding: 5px;
}

nav {
  background-color: #71d6ed;
}

img {
  margin-inline-end: auto;
  height: 50px;
}

header {
  padding: 40px;
  text-align: center;
  color: rgb(12, 86, 197);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
}

section {
  flex: 0 0 400px;
  padding: 20px;
}

footer {
  background-color: #71d6ed;
}

h2#contact {
  margin-left: 10px;
}

.fa-brands {
  font-size: 1.2em;
  padding-right: 5px;
  margin-left: 5px;
}

.fa-phone:before {
  padding: 10px;
}

.fa-github:before {
  content: "\f09b";
  padding: 10px;
}

.fa-linkedin:before {
    content: "\f08c";
    padding: 10px;
}